* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  overflow-x: hidden;
  position: relative;
}
.wrapper header {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-image: url(/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
}
.wrapper header .navbar {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper header .navbar .left h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #fff;
}
.wrapper header .navbar .right p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.609);
}
.wrapper header .navbar .right ion-icon {
  color: rgba(255, 255, 255, 0.609);
}
.wrapper header .navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
}
.wrapper header .header_main {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}
.wrapper header .header_main .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper header .header_main .container .left_desc {
  width: 70%;
}
.wrapper header .header_main .container .left_desc h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
}
.wrapper header .header_main .container .left_desc p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.246);
}
.wrapper header .header_main .container .left_desc p {
  margin-bottom: 50px;
}
.wrapper header .header_main .container .left_desc .p_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper header .header_main .container .left_desc .btn .one {
  background-color: #121212;
  padding: 10px 20px;
  margin-right: 30px;
  color: #fff;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.294);
}
.wrapper header .header_main .container .left_desc .btn .two {
  background-color: #28c388;
  padding: 10px 25px;
  margin-right: 30px;
  color: #fff;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.294);
}
.wrapper header .header_main .container .right_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.wrapper header .header_main .container .right_desc ion-icon {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.246);
}
.wrapper .sircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .sircle .one {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 190px;
}
.wrapper .sircle .two {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 190px;
}

.black {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}